cloud_id                 = "xxxxxxxxxxxxxxxxxxxx"
folder_id                = "xxxxxxxxxxxxxxxxxxxx"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
subnet_id                = "xxxxxxxxxxxxxxxxxxxx"
service_account_key_file = "~/Key/terraform2.json"
app_disk_image           = "xxxxxxxxxxxxxxxxxxxx"
count_instance           = 2